html {
    font-size: 100%;
}

body {
    background-color: #fff;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #888;
}

.none {
    display: none !important;
}
