.switch-elem.move-in-pos1 {
    left: 0;
    transform: translateX(0);
}

.skills-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content-visibility: hidden;
}

.skills-content.active {
    content-visibility: visible;
}

.skills-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
}
