.item-skill {
    position: relative;
    line-height: 3;
}

.item-skill::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: calc(50% - 3px);
    bottom: -5px;
    border-radius: 50%;
    background-color: #a5a5a5;
}

.item-skill:first-child::before {
    left: 0;
}

.item-skill:last-child::before {
    right: 0;
    left: auto;
}

.level-skill:not(.active) {
    opacity: 0;
}
