.switch-elem.move-in-pos2 {
    left: 48%;
    transform: translateX(-48%);
}

.education-content {
    position: absolute;
    top: 0;
    left: 0;
    content-visibility: hidden;
}

.education-content.active {
    content-visibility: visible;
}
